/* Estilos para o body */
body {
    background-color: rgb(229, 255, 240); /* Verde claro */
    font-family: Arial, sans-serif;
    margin: 0px;
    padding: 0px;
}

/* Estilos para a tabela */
table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

table, th, td {
    border: 1px solid rgb(0, 0, 0); /* Preto */
}

th, td {
    padding: 8px;
    text-align: left;
}

th {
    background-color: #22e022; /* Verde */
}

/* Estilos para linhas pares da tabela */
tr:nth-child(2n) {
    background-color: rgb(2, 2, 2); /* Cinza escuro */
}

/* Estilos para linhas ao passar o mouse */
tr:hover {
    background-color: rgb(120, 141, 120); /* Verde mais escuro */
}

/* Estilos para botões */
button {
    background-color: rgb(76, 175, 80); /* Verde */
    color: rgb(69, 160, 73); /* Verde mais escuro */
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

/* Estilos para botões ao passar o mouse */
button:hover {
    background-color: rgb(69, 160, 73); /* Verde mais escuro */
}
