<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Access Point Table</title>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.css">
    <script type="text/javascript" charset="utf8" src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.js"></script>
    <link rel="stylesheet" type="text/css" href="../static/styles.css">
</head>
<body>
    <table id="accessPointTable" class="display">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name Model ITB</th>
                <th>Name Model H3C</th>
                <th>Name Serie</th>
                <th>Name FW</th>
                <th>Name FW Last Ver</th>
                <th>Is 2.4GHz</th>
                <th>Is 5GHz</th>
                <th>Is 6GHz</th>
                <th>Nominal Rate 2.4GHz</th>
                <th>Nominal Rate 5GHz</th>
                <th>Nominal Rate 6GHz</th>
                <th>MIMO Class 2.4GHz</th>
                <th>MIMO Class 5GHz</th>
                <th>MIMO Class 6GHz</th>
                <th>RF Power Total 2.4GHz</th>
                <th>RF Power Total 5GHz</th>
                <th>RF Power Total 6GHz</th>
                <th>RF Power Chain 2.4GHz</th>
                <th>RF Power Chain 5GHz</th>
                <th>RF Power Chain 6GHz</th>
                <th>PHY Num Antennas 2.4G</th>
                <th>PHY Num Antennas 5GHz</th>
                <th>PHY Num Antennas 6GHz</th>
                <th>Antenna Gain 2.4GHz</th>
                <th>Antenna Gain 5GHz</th>
                <th>Antenna Gain 6GHz</th>
                <th>Antenna Type 2.4GHz</th>
                <th>Antenna Type 5GHz</th>
                <th>Antenna Type 6GHz</th>
                <th>Antenna Eff 2.4GHz</th>
                <th>Antenna Eff 5GHz</th>
                <th>Antenna Eff 6GHz</th>
                <th>VSWR 2.4GHz</th>
                <th>VSWR 5GHz</th>
                <th>VSWR 6GHz</th>
            </tr>
        </thead>
    </table>
    <script>
        $(document).ready(function() {
            $('#accessPointTable').DataTable({
                "ajax": {
                    "url": "/data",
                    "dataSrc": ""
                },
                "columns": [
                { "data": "id" },
                    { "data": "name_model_itb" },
                    { "data": "name_model_h3c" },
                    { "data": "name_serie" },
                    { "data": "name_fw" },
                    { "data": "name_fw_last_ver" },
                    { "data": "is_2_4Ghz" },
                    { "data": "is_5GhZ" },
                    { "data": "is_6Ghz" },
                    { "data": "nominal_rate_2_4Ghz" },
                    { "data": "nominal_rate_5Ghz" },
                    { "data": "nominal_rate_6Ghz" },
                    { "data": "mimo_class_2_4Ghz" },
                    { "data": "mimo_class_5Ghz" },
                    { "data": "mimo_class_6Ghz" },
                    { "data": "rf_power_total_2_4Ghz" },
                    { "data": "rf_power_total_5Ghz" },
                    { "data": "rf_power_total_6Ghz" },
                    { "data": "rf_power_chain_2_4Ghz" },
                    { "data": "rf_power_chain_5Ghz" },
                    { "data": "rf_power_chain_6Ghz" },
                    { "data": "phy_num_antennas_2_4G" },
                    { "data": "phy_num_antennas_5Ghz" },
                    { "data": "phy_num_antennas_6Ghz" },
                    { "data": "antenna_gain_2_4Ghz" },
                    { "data": "antenna_gain_5Ghz" },
                    { "data": "antenna_gain_6Ghz" },
                    { "data": "antenna_type_2_4Ghz" },
                    { "data": "antenna_type_5Ghz" },
                    { "data": "antenna_type_6Ghz" },
                    { "data": "antena_eff_2_4Ghz" },
                    { "data": "antena_eff_5Ghz" },
                    { "data": "antena_eff_6Ghz" },
                    { "data": "vswr_2_4Ghz" },
                    { "data": "vswr_5Ghz" },
                    { "data": "vswr_6Ghz" },
                ]
            });
        });
    </script>
</body>
</html>
